<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/dash.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div id="wrapper">
        <div id="nav">
            <nav>
                <ul class="nav_links">
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Start a Pool</a></li>
                    <li><a href="#">Pool Summary</a></li>
                    <li><a href="#">History</a></li>
                </ul>
            </nav>
            <a class="logout" href="#"><button>Logout</button></a>
        </div>

        <div id="container">
            <!-- context test -->
            <h1>Hello, {{user.first_name}}</h1>
            <div id="dash_one">
                <!-- logout test link -->
                <button><a href="user/summary">Profile</a></button>
                <!-- start pool test link -->
                <button><a href="pool/start">Start Pool</a></button>
            </div>
            <hr>
            <div id="dash_two">
                <!-- profile test link -->
                <button><a href="user/summary">Pool Summary</a></button>
                <!-- $ history test link -->
                <button><a href="transactions/history">Tip History</a></button>
            </div>
        </div>
    </div>
</body>
</html>