* {
    margin: 0px;
    padding: 0px;
}
#container {
    margin: auto;
    padding-left: 20px;
    background-color: beige;
}
img {
    width: 250px;
    height: auto;
}
#row {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
    padding-top: 30px;
}
