<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name= "viewport" content="width=device-width, initial-scale=1.0">
        <title>Profile Page</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/profile.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div id="container">
        <div id="nav">
            <nav>
                <ul class="nav_links">
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/pool/start">Start a Pool</a></li>
                    <li><a href="/transactions/history">History</a></li>
                </ul>
            </nav>
            <a class="logout" href="/logout"><button>Logout</button></a>
        </div>
        <div id="row">
            <div class="profile_img">
                <img src="{% static 'img/thumbnail.jpg' %}" class="rounded-circle" alt="thumbnail"/>
            </div>

            <div class="desc">
                <!-- Can add the jinja for request.user here -->
                <h3>Name: {{user.first_name}}  {{user.last_name}}</h3>
                <hr>
                <h3>Email: {{user.email}}</h3>
                <hr>
                <h3>Restaurant: {{user.restaurant}}</h3>
                <hr>
                <h3>Groups: Group name here</h3>
            </div>
        </div>

        <div id="tips">
            <div class="info">
                <h1>Tips received: </h1>
                <hr>
                <!-- Enter the for loop jinja here for table data -->
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Sender</th>
                            <th>Tip Amount</th>
                        </tr>
                    </thead>
                    <!-- Added dummy data for visual -->
                    <tbody>
                        {% for trans in user_trans %}
                        <tr>
                            <td>{{trans.created_at}}</td>
                            <td>{{trans.sender.first_name}}</td>
                            <td>${{trans.tips_shared}}</td>
                        </tr>
                        {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>