<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name= "viewport" content="width=device-width, initial-scale=1.0">
        <title>Tip Pool Summary</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/summary.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="container">
    <div id="container">
        <div id="nav">
            <nav>
                <ul class="nav_links">
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/pool/start">Start a Pool</a></li>
                    <li><a href="/search/all_users">Find User</a></li>
                    <li><a href="/transactions/history">History</a></li>
                </ul>
            </nav>
            <a href="/logout"><button>Logout</button></a>
        </div>
        
        <div id="tips">
            <div class="info">
                <h1>Tip Summary Pool: </h1>
                <hr>
                <!-- Enter the for loop jinja here for table data -->
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Hours</th>
                            <th>Tip Distribution</th>
                        </tr>
                    </thead>
                    <!-- Added dummy data for visual -->
                    <tbody>
                        <tr>
                            <td>{{u1.first_name}} {{u1.last_name}}</td>
                            <td>{{u1t.hours_worked}}</td>
                            <td>${{u1t.tips_shared}}</td>
                        </tr>
                        <tr>
                            <td>{{u2.first_name}} {{u2.last_name}}</td>
                            <td>{{u2t.hours_worked}}</td>
                            <td>${{u2t.tips_shared}}</td>
                        </tr>
                        <tr>
                            <td>{{u3.first_name}} {{u3.last_name}}</td>
                            <td>{{u3t.hours_worked}}</td>
                            <td>${{u3t.tips_shared}}</td>
                        </tr>
                        <tr>
                            <td>{{u4.first_name}} {{u4.last_name}}</td>
                            <td>{{u4t.hours_worked}}</td>
                            <td>${{u4t.tips_shared}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>